[tool.poetry]
name = "miniscope_io"
version = "0.1.8"
description = ""
authors = [
    "sneakers-the-rat <JLSaunders987@gmail.com>",
    "t-sasatani <sasatani.dev@gmail.com>",
]
readme = "README.md"
packages = [{include = "miniscope_io"}]

[tool.poetry.dependencies]
python = "^3.9"
opencv-python = "^4.7.0.72"
numpy = "^1.25.0"
matplotlib = "^3.7.1"
pandas = "^2.1.0"
pydantic = "^2.3.0"
coloredlogs = "^15.0.1"
pyserial = "^3.5"
tqdm = "^4.66.1"
bitstring = "^4.2.3"
pydantic-settings = "^2.0.3"
rich = "^13.6.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"

[tool.poetry.group.tests]
optional = true

[tool.poetry.group.tests.dependencies]
pytest = "^7.4.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^6.2.1"
furo = ">=2023.5.20,<2023.07.26"
myst-parser = "^2.0.0"
autodoc-pydantic = "^2.0.1"

[tool.poetry.extras]
tests = ["pytest"]
docs = ["sphinx", "furo", "myst-parser"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
streamDaq = "miniscope_io.stream_daq:main"
updateDevice = "miniscope_io.device_update:updateDevice"